/* #region Gradient background */

body {
  background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 45s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* #endregion */

.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* #region App-header */

.App-header-center {
  text-align: center;
}

.App-header-center img {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.App-header-left {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  text-align: left;
}

.App-header-left img {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.logout-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-wrapper button {
  margin-right: 50px;
}

/* #endregion */

.App-container {
  position: relative;
  text-align: center;
  margin-top: 100px;
}

/* #region Login page */

.blurred-card {
  border-radius: 15px !important;
  padding: 20px;
  width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1) !important;
}

.login-form {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-size: 20px;
  color: #45b;
  cursor: pointer;
}

.button-link:hover {
  text-decoration: underline;
}

/* #endregion */

/* #region Radio images */

.selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.serviceli {
  list-style-type: none;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.service {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  /* -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7); */
}

.serviceli:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.selector input:active+.serviceli {
  opacity: 0.9;
}

.selector input:checked+.serviceli {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

/* #endregion */